* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFFFEC;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 90%;
  margin: auto;
}
nav {
  display: flex;
  padding: 2vw 0;
}
.links {
  margin-left: auto;
}
.links a {
  padding: 1vw;
  border-radius: 1.5em;
}
.links a:hover {
  background-color: #C6A969;
}
.list-row {
  display: flex;
  border-top: 1px solid black;
  align-items: center;
  justify-content: space-around;
}
.list-row img {
  height: auto;
  width: 5vw;
  user-select: none;
}
.list-row:hover {
  background-color: #F1E4C3;
}
/* Calendar */
.calendar-wrapper {
  display: flex;
  justify-content: space-between;
}
.calendar-container {
  width: 40vw;
  margin: auto;
  user-select: none;
}
.calendar-header {
  text-align: center;
  background-color: #C6A969;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.calendar-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4vw;
}
.calendar-grid .empty-cell {
  background-color: #F1E4C3;
}
.calendar-grid .weekday-cell {
  background-color: #C6A969;
}
.calendar-grid .day-cell {
  border: 1px solid #F1E4C3;
}
.calendar-grid .day-cell:hover {
  background-color: #F1E4C3;
  border-color: #FFFFEC;
}
.calendar-grid .current-day {
  border: 4px solid #C6A969;
}
.calendar-grid .selected-day {
  border: 4px solid #597E52;
}
.calendar-grid .has-event {
  background-color: #597E52;
}
form {
  display: flex;
  flex-direction: column;
  background-color: #C6A969;
  width: 30vw;
  height: auto;
}
form .form-row {
  width: 100%;
  display: flex;
  margin-top: 2vw;
  align-items: center;
}
form .form-row input,
form .form-row textarea {
  resize: none;
  border: none;
  border-bottom: 2px solid #597E52;
  width: 70%;
  margin: auto;
  background-color: #FFFFEC;
}
form .form-row:nth-child(1) {
  justify-content: center;
  width: 60%;
  margin: 2vw auto 0 auto;
  padding: 1vw;
  border-radius: 1.5em 0;
  background-color: #597E52;
}
form .form-row:nth-child(1) div:nth-child(1) {
  margin-right: 1vw;
}
form button {
  width: 10vw;
  padding: 1vw 3vw;
  border-radius: 1.5em;
  margin: 2vw auto;
}
